<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User - <%= username %> </h1>
    <p>
        <% if (username == "jhon") { %>
            <ul>
                <% hobbies.forEach((el) => { %>
                        <li><%=el %></li>
                    <% }) %>
            </ul>
        <% } %>
    </p>
</body>
</html>